.card__container {
  margin-bottom: 25px;
}
.card__container:last-child {
  margin-bottom: 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 250px;
  padding: 25px;
  border-radius: 15px;
  color: white;
  background-image: linear-gradient(25deg, #0f509e, #1399cd);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card--discover {
  color: black;
  background-image: linear-gradient(25deg, #e8e9e5, #fbfbfb);
}

.card--masterCard {
  color: black;
  background-image: linear-gradient(25deg, #fff, #eee);
}

.card__logo {
  align-self: flex-end;
}
.card__chip {
  width: 50px;
}
.logo {
  display: none;
  width: 80px;
}

.card--discover .logo--discover,
.card--masterCard .logo--masterCard,
.card--visa .logo--visa {
  display: block;
}

.card__number {
  display: flex;
  font-size: 35px;
}
.card__info {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}
.card__infoExpiry {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
